{% extends "base.html" %}

{% block content %}
<body>
    <h1 id="city_name">{{city_name}}</h1>
    <h3 id="region">{{region}}</h3>
    <h2 id="temp_c">{{temp_c}}°C</h2>
    <div>
        <h3 id="condition_txt">{{condition_txt}}</h3>
        <img src={{condition_img}}>
    </div>
    <h3 id = "feelslike_c">feels like: {{feelslike_c}}°C</h3>
    <h3 id = "wind_mph">wind speed: {{wind_mph}}mph</h3>
    <h3 id = "wind_dir">wind direction: {{wind_dir}}</h3>
    <h3 id = "precip_mm">precipitation: {{precip_mm}}mm</h3>
    <h3 id = "humidity">humidity: {{humidity}}%</h3>

</body>
{% endblock %}